<style type="text/css">
	body {
		background-color: #fff;
		font: 13px/20px normal Helvetica, Arial;
		color: #4F5155;
		width: 
	}
	#header-pan {
		align-content: center;
		height: 100px;
		margin-bottom: 15px;
	}
	#footer-pan {
		text-align: center;
		align-content: center;
		height: 100px;
		margin-top: 15px;
	}
	#btnAddDrink{
		height: calc(1.5em + .75rem + 2px);
	}
	.space-right{
		margin: 0 2.5rem 0 0; 
	}
</style>